<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Dexter Jettster's</h1>

  
  <h2>Someone to see ya, honey. A Jedi, by the looks of him.</h2>
  
  <p>The search bar might take few parsecs to load.</p>
</div>

<div>
  <h2>Films</h2>
  <div id='films'>
    <% @response.each do |s| %>



    <div class="row" id='film_<%= s['node']['episodeID'] %>'>
      <h3><%= link_to s['node']['title'], film_path(s['node']['episodeID']), target: :_blank %><h3>
      <p>Episode: <%= s['node']['episodeID'] %></p>
      <p>Director: <%= s['node']['director'] %></p>
      <p>Producer(s): <%= s['node']['producers'].join(" - ") %></p>
      <br>
    </div>
    <% end %>
  </div>

</div>


