<% convertidor = { "1" => "4", 
            "2" => "5", 
            "3" => "6", 
            "4" => "1", 
            "5" => "2", 
            "6" => "3", 
            "7" => "7" }
            %>

<% provide(:title, @general['name']) %>

<h1>Character: <%= @general['name']%></h1>

<div id='general_info'>
    <h2>General Information</h2>
    <h4>Height: <%= @general['height'] %> cm </h4>
    <h4>Weight on Coruscant: <%= @general['mass'] %> kg </h4>
    <h4>Hair color: <%= @general['hairColor'] %> </h4>
    <h4>Skin color: <%= @general['skinColor'] %> </h4>
    <h4>Gender: <%= @general['gender'] %> </h4>
    <h4>YOB: <%= @general['birthYear'] %> </h4> 
    <br>
</div>

<div id='films'>
    <h2>Films where <%= @general['name']%> appears</h2>
    <% @general['filmConnection']['edges'].each do |f| %>
        <h4><%= link_to f['node']['title'], film_path(f['node']['id']), target: :_blank %></h4>
    <% end %>
</div>

<div id='starships'>
    <h2>Starships related to <%= @general['name']%></h2>
    <% @general['starshipConnection']['edges'].each do |s| %>
        <h4><%= link_to s['node']['name'], starship_path(s['node']['id']), target: :_blank %></h4>
    <% end %>
</div>
