<% convertidor = { "1" => "4", 
            "2" => "5", 
            "3" => "6", 
            "4" => "1", 
            "5" => "2", 
            "6" => "3", 
            "7" => "7" }
            %>
<% provide(:title, @general['name']) %>

<h1>Planet: <%= @general['name']%></h1>

<div id='general_info'>
    <h2>General Information</h2>
    <h4>Rotation period: <%= @general['rotationPeriod'] %></h4>
    <h4>Orbital period: <%= @general['orbitalPeriod'] %></h4>
    <h4>Diameter: <%= @general['diameter'] %> </h4>
    <h4>Climate: <%= @general['climates'].join(" - ") %> </h4>
    <h4>Gravity: <%= @general['gravity'] %> </h4>
    <h4>Terrain: <%= @general['terrain'] %> </h4> 
    <h4>Surface: <%= @general['surfaceWater'] %> </h4> 
    <h4>Population: <%= @general['population'] %> </h4> 
    <br>
</div>

<div id='films'>
    <h2>Films where <%= @general['name']%> appears</h2>
    <% @general['filmConnection']['edges'].each do |f| %>
        <h4><%= link_to f['node']['title'], film_path(f['node']['id'])  %></h4>
    <% end %>
</div>

<div id='character'>
    <h2>People who is related to <%= @general['name']%></h2>
    <% @general['residentConnection']['edges'].each do |c| %>
        <h4><%= link_to c['node']['name'], character_path(c['node']['id'])  %></h4>
    <%end%>
</div>