<% provide(:title, @general['title']) %>

<h1><%= @general['title']%> (<%=@general['releaseDate'].split('-')[0]%>)</h1>

<div id='general_info'>
<h2>General Information</h2>
<h3>Director: <%= @general['director'] %> </h3>
<h4>Producer(s): <%= @general['producers'].join(" - ") %></h4>
<br>
<p><i><%= @general['openingCrawl'] %></i></p>
<br>
</div>


<div id='characters'>
    <h2>Characters</h2>
    <% @general['characterConnection']['edges'].each do |c| %>
        <div id='character_<%= c['node']['name'] %>'> 

            <h4><%= link_to c['node']['name'], character_path(c['node']['id'])  %></h4>
            <%
=begin%>
 <h4>Height: <%= c['height'] %> cm </h4>
            <h4>Weight on Coruscant: <%= c[''] %> kg </h4>
            <h4>Hair color: <%= c['hair_color'] %> </h4>
            <h4>Skin color: <%= c['skin_color'] %> </h4>
            <h4>Gender: <%= c['gender'] %> </h4>
            <h4>YOB: <%= c['birth_year'] %> </h4> 
<%
=end%>
            </div>
    <% end %>
</div> 


<div id='starships'>
    <h2>Starships</h2>
    <% @general['starshipConnection']['edges'].each do |s| %>
        <div id='starships_<%= s['node']['name'] %>'>
            <h4><%= link_to s['node']['name'], starship_path(s['node']['id'])  %></h4>
            <%
=begin%>
 <h4>Model : <%= s['model']%></h4>
            <h4>Manufacturer : <%= s['manufacturer']%></h4>
            <h4>Cost in credits : <%= s['cost_in_credits']%></h4>
            <h4>Lenght : <%= s['lenght']%> cm</h4>
            <h4>Crew : <%= s['crew']%></h4>
            <h4>Passengers : <%= s['passengers']%></h4>
            <h4>Cargo Capacity : <%= s['cargo_capacity']%></h4>
            <h4>Consumables : <%= s['consumables']%></h4>
            <h4>Hyperdrive rating : <%= s['hyperdrive_rating']%></h4> 
<%
=end%>
        </div>
    <% end %>
</div>

<div id='planets'>
    <h2>Planets</h2>
    <% @general['planetConnection']['edges'].each do |p|%>
    <div id='planet_<%= p['node']['name'] %>'>
        <h4><%= link_to p['node']['name'], planet_path(p['node']['id'])  %></h4>
    </div>

    <% end %>

</div>






<%= %>