<% convertidor = { "1" => "4", 
            "2" => "5", 
            "3" => "6", 
            "4" => "1", 
            "5" => "2", 
            "6" => "3", 
            "7" => "7" }
            %>

<% provide(:title, @general['name']) %>

<h1>Starship: <%= @general['name']%></h1>

<div id='general_info'>
    <h2>General Information</h2>
    <h4>Model : <%= @general['model']%></h4>
    <h4>Manufacturer : <%= @general['manufacturers'].join(" - ")%></h4>
    <h4>Cost in credits : <%= @general['costInCredits']%></h4>
    <h4>Lenght : <%= @general['lenght']%> cm</h4>
    <h4>Crew : <%= @general['crew']%></h4>
    <h4>Passengers : <%= @general['passengers']%></h4>
    <h4>Cargo Capacity : <%= @general['cargoCapacity']%></h4>
    <h4>Consumables : <%= @general['consumables']%></h4>
    <br>
</div>

<div id='films'>
    <h2>Films where <%= @general['name']%> appears</h2>
    <% @general['filmConnection']['edges'].each do |f| %>
        <h4><%= link_to f['node']['title'], film_path(f['node']['id']), target: :_blank %></h4>
    <% end %>
</div>

<div id='character'>
    <h2>People who piloted <%= @general['name']%></h2>
    <% @general['pilotConnection']['edges'].each do |c| %>
        <h4><%= link_to c['node']['name'], character_path(c['node']['id']), target: :_blank %></h4>
    <%end%>
</div>